*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

.container {
  --bs-gutter-x: 1rem;
}

.p6{
  padding: 6rem;
}

.py-6{
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.pixel-icon {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
